:root {
  --bg-dark: hsl(0, 0%, 88%);
  --bg: hsl(0, 0%, 93%);
  --bg-light: hsl(0, 0%, 95%);
  --shadow: hsl(0, 0%, 75%);
  --highlight: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 0%);
  --text-light: hsl(0, 0%, 10%);
}

body.light {
  --bg-dark: hsl(0, 0%, 5%);
  --bg: hsl(0, 0%, 10%);
  --bg-light: hsl(0, 0%, 12%);
  --shadow: hsl(0, 0%, 0%);
  --highlight: hsl(0, 0%, 25%);
  --text: hsl(0, 0%, 90%);
  --text-light: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg-dark);
  color: var(--text);
}

.layout {
  display: flex;
  min-height: 100vh;
}

.small-main{
  max-width: 1000px;
}

main {
  padding: 2rem;
  margin: auto;
  margin-top: 6rem;
}

.kurs {
  padding: 4rem;
  margin: auto;
  margin-top: 4rem;
}

.sidebar {
  width: 240px;
  background: var(--bg);
  color: var(--text);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  box-shadow: 0 5px 15px var(--shadow);
}

.header {
  background-color: var(--bg);
  border-radius: 20px;
  padding: 0 1rem;
  margin: 2rem auto;
  box-shadow:
    inset 3px 4px 4px 3px var(--shadow),
    inset -2px -3px 3px 2px var(--highlight);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;

  z-index: 1000;
  background-color: var(--bg);
  display: flex;
  justify-content: flex-start;
}

.course-text {
  padding: 0.75rem 1rem;
  border-radius: 12px;
  border: 2px solid var(--shadow);
  background: var(--bg-light);
  color: var(--text);
}

.landing img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.student img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.qrcode img {
  width: 20em;
  margin: 0 auto;
  margin-right: 1em;
}

div.qrcode {
  display: flex;
  align-items: center;
  width: min-content;
  margin: auto;
}

div.qrcode button {
  height: min-content;
}

header img {
  height: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-light);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  /*background-color: var(--bg);
  padding: 2rem;
  border-radius: 20px;*/
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 3rem;
}

button {
  background: var(--bg-light);
  box-shadow:
    -3px -3px 3px 2px var(--highlight),
    3px 3px 5px 2px var(--shadow),
    4px 4px 6px var(--shadow);
  border: none;
  border-radius: 25px;
  padding: 2rem 2rem;
  font-size: 1.5rem;
  color: var(--text);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*transition:
    transform 0.15s cubic-bezier(.4,0,.2,1),
    box-shadow 0.15s cubic-bezier(.4,0,.2,1);*/
}

button span {
  margin-top: 0.5rem;
  font-size: 1rem;
}

button:hover {
  background: var(--bg-light);
  transform: translateY(1px);
  box-shadow:
    inset 2px 3px 3px 2px var(--shadow),
    inset -2px -3px 3px 2px var(--highlight);
}

button:active {
  transform: translateY(0);
  box-shadow:
    0 1px 3px rgba(0,0,0,0.2);
}

.top-left {
  position: absolute;
  top: 0em;
  left: 0em;
}

.top-left-Titel {
  position: absolute;
  top:6rem;
  left: 1em;
}

.bottom-right {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.top-center {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
}

.bottom-center {
  position: absolute;
  bottom: 1em;
  right: 50%;
  
}

.center{
  bottom: 50%;
  right: 50%;
  transform: translate(50%,50%);
}

.left-center{
  left: 0%;
  transform: translate(0%,50%);
}

progress {
  width: 100%;
  height: 20px;
}

.circle {
    margin: 3rem;
    padding: 3px 3px;
    width: 106px;
    height: 106px;
    border-radius: 53px;
    background-color: var(--bg);
    box-shadow: 
        7px 7px 10px var(--shadow);
}

.circle_inner {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: var(--bg);
    box-shadow: 
        inset 9px 9px 17px var(--shadow),
        inset -9px -9px 17px var(--highlight);
}


label {
  display: block;
  font-size: 18pt;
  font-weight: 700;
}

input.textinput {
  width: 100%;
  font-size: 16pt;
}

input.submit {
  background: var(--bg-light);
  box-shadow:
    -3px -3px 3px 2px var(--highlight),
    3px 3px 5px 2px var(--shadow),
    4px 4px 6px var(--shadow);
  border: none;
  margin-top: 1em;
  border-radius: 25px;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  color: var(--text);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}