:root {
  --bg-dark: hsl(0, 0%, 88%);
  --bg: hsl(0, 0%, 93%);
  --bg-light: hsl(0, 0%, 95%);
  --shadow: hsl(0, 0%, 75%);
  --highlight: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 0%);
  --text-light: hsl(0, 0%, 10%);
}

body.dark {
  --bg-dark: hsl(0, 0%, 5%);
  --bg: hsl(0, 0%, 10%);
  --bg-light: hsl(0, 0%, 12%);
  --shadow: hsl(0, 0%, 0%);
  --highlight: hsl(0, 0%, 25%);
  --text: hsl(0, 0%, 90%);
  --text-light: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg-dark);
  color: var(--text);
}

html, body {
  height: 100%;
}

main {
  padding: 2rem;
  margin: 6rem auto 0 auto;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6rem);
}

.small-main{
  max-width: 1000px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  padding: 0;
  z-index: 1000;
  background-color: var(--bg);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  gap: 2rem;
}

.kurs {
  padding: 4rem;
  margin: auto;
  margin-top: 4rem;
}

.radio {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.landing {
  margin-top: 0;
}

.course-text {
  padding: 0.75rem 1rem;
  border-radius: 12px;
  border: 2px solid var(--shadow);
  background: var(--bg-light);
  color: var(--text);
}

header img {
  height: 100%;
}

.landing img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.qrcode img {
  width: 20em;
  margin: 0 auto;
  margin-right: 1em;
}

main.student {
  width: min(30rem, 100%);
}

div.qrcode {
  display: flex;
  align-items: center;
  width: min-content;
  margin: auto;
}

div.qrcode button {
  height: min-content;
}

button:focus-visible,
input:focus-visible {
  outline: 3px solid var(--text-light);
  outline-offset: 4px;
}

h1 {
  text-align: center;
  color: var(--text-light);
}

form {
  flex: 1;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  /*background-color: var(--bg);
  padding: 2rem;
  border-radius: 20px;*/
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 3rem;
}

.field {
  background-color: var(--bg);
  border-radius: 20px;
  padding: 2rem;
}

button {
  background: var(--bg-light);
  box-shadow:
    -3px -3px 3px 2px var(--highlight),
    3px 3px 5px 2px var(--shadow),
    4px 4px 6px var(--shadow);
  border: none;
  border-radius: 25px;
  padding: 2rem 2rem;
  font-size: 1.5rem;
  color: var(--text);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*transition:
    transform 0.15s cubic-bezier(.4,0,.2,1),
    box-shadow 0.15s cubic-bezier(.4,0,.2,1);*/
}

button span {
  margin-top: 0.5rem;
  font-size: 1rem;
}

button:hover {
  background: var(--bg-light);
  transform: translateY(1px);
  box-shadow:
    inset 2px 3px 3px 2px var(--shadow),
    inset -2px -3px 3px 2px var(--highlight);
}

button:active {
  transform: translateY(0);
  box-shadow:
    0 1px 3px rgba(0,0,0,0.2);
}

.top-left {
  position: absolute;
  top: 0em;
  left: 0em;
}

.top-left-Titel {
  position: absolute;
  top:6rem;
  left: 1em;
}

.bottom-right {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.top-center {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
}

.right{
  position: absolute;
  right: 0%;
}

.center{
  bottom: 50%;
  right: 50%;
  transform: translate(50%,50%);
}

.left-center{
  left: 0%;
  transform: translate(0%,50%);
}

progress {
  width: 100%;
  height: 20px;
}

.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1;
  border-radius: 25%;
  cursor: pointer;
}

label {
  display: block;
  font-size: 18pt;
  font-weight: 700;
}

input.textinput {
  width: 100%;
  font-size: 16pt;
}

input.submit {
  background: var(--bg-light);
  box-shadow:
    -3px -3px 3px 2px var(--highlight),
    3px 3px 5px 2px var(--shadow),
    4px 4px 6px var(--shadow);
  border: none;
  margin-top: 1em;
  border-radius: 25px;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  color: var(--text);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-option input[type="checkbox"] {
  width: 1.6rem;
  height: 1.6rem;
}

.custom-option input[type="text"] {
  font-size: 18pt;
  font-weight: 700;
  color: var(--text);

}